* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #333;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

html,
body,
#root {
  /* height: 100%; */
  width: 100%;
  overflow-x: hidden;
}
